server/.vscode
server/.private
server/.settings
server/.factorypath
server/target
client/dist
client/build
client/node_modules
client/node
client/temp
client/*.log
client/package-lock.json
.idea/*
.vscode/*
