server/.vscode
server/.private
server/.settings
server/.factorypath
server/target
client/dist
client/build
client/node_modules/
node_modules/
client/.vscode
client/.env
client/.idea
client/.git
client/.gitignore
client/node
client/temp
client/*.log
.idea/*
.vscode/*
client/.env
content/articles/how-to-write-text.md
content/articles/mac-os-shortcuts.md
nginx/
client/coverage
client/package-lock.json
replace/*

