server/.vscode
server/.private
server/.settings
server/.factorypath
server/target
client/dist
client/build
client/node_modules
client/node
client/temp
client/*.log
.idea/*
.vscode/*
client/.env
content/articles/how-to-write-text.md
content/articles/mac-os-shortcuts.md
nginx/

