@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");
 .social_links {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
}
 .sl_container {
	 position: relative;
	 width: 60px;
	 height: 60px;
	 line-height: 60px;
	 text-align: center;
	 margin: 0 auto;
}
 .sl_container .sl_circle {
	 fill: none;
	 stroke-width: 3px;
	 stroke-dasharray: 40;
	 transition: all 0.2s ease-in-out;
	 /* animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;*/
}
 .sl_container .sl_social {
	 /* color: rgba(0, 0, 0, 0.212); */
	 font-size: 1.3em;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height: 100%;
	 transition: all 0.5s ease-in-out;
}
 .sl_container:hover {
	 cursor: pointer;
}
 .twitter_no_touch:hover {
	 transform: scale(1.2);
}
 .twitter_no_touch:hover .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTwitter 1s linear forwards;
}
 .twitter_no_touch:hover .sl_social {
	 color: #3aaae1;
}
 .github_no_touch:hover {
	 transform: scale(1.2);
}
 .github_no_touch:hover .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorGithub 1s linear forwards;
}
 .github_no_touch:hover .sl_social {
	 color: #6cc644;
}
 .github_touch .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorGithub 3s linear forwards;
}
 .github_touch .sl_social {
	 color: #6cc644;
}
 .mail_no_touch:hover {
	 transform: scale(1.2);
}
 .mail_no_touch:hover .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorMail 1s linear forwards;
}
 .mail_no_touch:hover .sl_social {
	 color: #ebac37;
}
 .mail_touch .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorMail 3s linear forwards;
}
 .mail_touch .sl_social {
	 color: #ebac37;
}
 .telegram_no_touch:hover {
	 transform: scale(1.2);
}
 .telegram_no_touch:hover .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTelegram 1s linear forwards;
}
 .telegram_no_touch:hover .sl_social {
	 color: #08c;
}
 .telegram_touch .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTelegram 3s linear forwards;
}
 .telegram_touch .sl_social {
	 color: #08c;
}
 .linkedin_no_touch:hover {
	 transform: scale(1.2);
}
 .linkedin_no_touch:hover .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorLinkedin 1s linear forwards;
}
 .linkedin_no_touch:hover .sl_social {
	 color: #8d6cab;
}
 .linkedin_touch .sl_circle {
	 fill: #fff;
	 fill-opacity: 1;
	 animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorLinkedin 3s linear forwards;
}
 .linkedin_touch .sl_social {
	 color: #8d6cab;
}
 @keyframes colorTwitter {
	 from {
		 stroke: #fff;
	}
	 to {
		 stroke: #3aaae1;
	}
}
 @keyframes colorGithub {
	 from {
		 stroke: #fff;
	}
	 to {
		 stroke: #6cc644;
	}
}
 @keyframes colorMail {
	 from {
		 stroke: #fff;
	}
	 to {
		 stroke: #ebac37;
	}
}
 @keyframes colorTelegram {
	 from {
		 stroke: #fff;
	}
	 to {
		 stroke: #08c;
	}
}
 @keyframes colorLinkedin {
	 from {
		 stroke: #fff;
	}
	 to {
		 stroke: #8d6cab;
	}
}
 @keyframes outWaveIn {
	 to {
		 stroke-width: 10px;
		 stroke-dasharray: 400;
	}
}
 @keyframes outWaveOut {
	 from {
		 stroke-width: 10px;
		 stroke-dasharray: 400;
	}
	 to {
		 stroke: #fff;
		 stroke-width: 5px;
		 stroke-dasharray: 40;
	}
}
 