
@import "tailwindcss";


@import './base/comments.css';
@import './base/errors.css';
@import './base/loader.css';
@import './base/navbar.css';
@import './base/social-links.css';


.no-inherit-font-size {
  font-size: revert !important;
}

/* Themes */

.dark {
  background-color: theme('colors.black');
  color: theme('colors.gray.300');
}

.light {
  background-color: theme('colors.neutral.100');
  color: theme('colors.gray.800');
}

/*clearfix for checkboxes*/
/* Reset any unwanted styles */
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
}

/* Custom checkmark */
input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}